*,
:after,
:before {
    box-sizing: border-box;
}

#divmap {
    /* width: calc(100% - 240px); */
    flex-grow: 1;
}

#map-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#right-panel {
    width: 240px;
    padding: 5px;
    flex: none;
}

.popup-with-no-events {
    pointer-events: none;
}

#mapcontainer {
    display: flex;
}

#menu {
    width: 360px;
    padding: 5px;
}

#map,
#divmap {
    height: 100vh;
    /* width: calc(100% - 520px); */
    width: 100%;
}

.text-labels {
    background: rgba(231, 76, 60, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 9px;
    border-radius: 36px;
    border: 2px solid rgba(231, 76, 60, 1.0);
    font-weight: bold;
    color: transparent;
}

.text-labels.available {
    border-color: #27ae60;
    color: transparent;
    background-color: #2ecc71;
}

.popup-text.available {
    color: #27ae60;
}